.form-container {
    padding-bottom: 5rem;
    padding-top: 2rem;
    margin: 0 10rem;
}

.input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: .3s;
}

.input-group input:focus {
    border-color: #ff4c4c;
}

.submit-btn {
    display: block;
    width: 30%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    background: #ff4c4c;
    outline: none;
    border-radius: 30px;
    color: #FFF;
    cursor: pointer;
    border: none;
    transition: ease-in-out .3s;
}

.submit-btn:hover {
    transform: translateY(-5px);
    background: #fc2323;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.login-register-text {
    margin: 0 auto;
    padding-top: 40px;
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #ff6161;
}

@media (max-width: 1000px) {
    .form-container {
        margin: 0;
    }
}