/* Add a black background color to the top navigation */
* {
    font-family: Trebuchet MS;
}

.container{
    margin-top: 10%;
}

h1 {
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h3 {
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.logout {
    background-color: #ff4c4c;
    padding: 0 20px;
    color: #ffffff;
    border-radius: 20px;
}

.login {
    background-color: #ff4c4c;
    padding: 0 30px;
    color: #ffffff;
    border-radius: 20px;
}

.user-box {
    text-align: center;
    background-color: #F8F8F8;
    margin: 10px 0;
    padding-top: 10px;
}

.custom-active {
    background-color: #ff4c4c;
    color: #ffffff;
    border-radius: 15px;
}

button.disabled {
    pointer-events: none;
    background-color: #dedede;
}

.remove-admin-button {
    background-color: #ff4040;
    border: none;
    color: #F8F8F8;
    width: 130px;
    border-radius: 10px;
    transition: ease-in-out .3s;
}

.remove-admin-button:hover {
    transform: translateY(-5px);
}

.add-admin-button {
    background-color: #29de29;
    border: none;
    color: #F8F8F8;
    width: 130px;
    border-radius: 10px;
    transition: ease-in-out .3s;
}

.add-admin-button:hover {
    transform: translateY(-5px);
}

.general {
    text-align: justify;
    padding: 4%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f2f2f2;
}
footer .a{
    color: #ff4c4c;
}

nav.opeeen + .container{
    padding-top: 100px;
}



@media (max-width: 1000px) {
    .container {
        margin-top: 30%;
    }
}

@media (max-width: 500px) {
    .container {
        margin-top: 70%;
    }
}