/* Add a black background color to the top navigation */
* {
    font-family: Trebuchet MS;
}

.container{
    margin-top: 10%;
}

h1 {
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h3 {
    color: #111;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

nav .navbar-nav li .logout{
    color: #e71111 !important;
}

nav .navbar-nav li .login{
    color: #29de29 !important;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered {
    margin: 0 auto;
}

.back-button {
    margin-bottom: 20px;
    background-color: #ff1616;
    color: #FFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.back-button:hover {
    background-color: #e71313;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.go-to-add-exercise-page-button {

    margin-bottom: 20px;
    background-color: #6ce26c;
    color: #FFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.go-to-add-exercise-page-button:hover {
    background-color: #59c459;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}




.user-box {
    text-align: center;
    background-color: #F8F8F8;
    margin: 10px 0;
    padding-top: 10px;
}

.custom-active {
    background-color: #ff4c4c;
    color: #ffffff;
    border-radius: 15px;
}

button.disabled {
    pointer-events: none;
    background-color: #dedede;
}

.remove-admin-button {
    background-color: #ff4040;
    border: none;
    color: #F8F8F8;
    width: 130px;
    border-radius: 10px;
    transition: ease-in-out .3s;
}

.remove-admin-button:hover {
    transform: translateY(-5px);
}

.add-admin-button {
    background-color: #29de29;
    border: none;
    color: #F8F8F8;
    width: 130px;
    border-radius: 10px;
    transition: ease-in-out .3s;
}

.add-admin-button:hover {
    transform: translateY(-5px);
}

.general {
    text-align: justify;
    padding: 4%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f2f2f2;
}
footer .a{
    color: #ff4c4c;
}

nav.opeeen + .container{
    padding-top: 100px;
}



@media (max-width: 1000px) {
    .container {
        margin-top: 10em;
    }

    .back-button {
        margin-bottom: 5em;
    }
}

@media (max-width: 500px) {
    .container {
        margin-top: 10rem;
    }
}