.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer-picture {
    width: 40px;
    height: auto;
}

.progress-line {
    box-shadow: 3.5px 3px 8px -3px rgb(0 0 0);
    width: 80%;
}

.timer-button {
    margin: 8px;
    width: 23%;
    border: none;
    background: none;

    transition: .3s ease-in-out;
}

.timer-button:hover {
    transform: translateY(-3px);
}

.timer-button:focus {
    outline: none;
}

@media (max-width: 1000px) {
    .progress-line {
        width: 90%;
    }

    .timer {
        flex-direction: column;
    }

    .timer-btn {
        width: 20%;
    }
}